<div class="input-group">
    <span class="input-group-btn">
        <button (click)= "SumaPorcentaje(-5)"
         type="button"
         [ngClass]="btnclass">
            <i class="fa fa-minus"></i>
        </button>
    </span>
     <input type="number" class="form-control" placeholder="Progresso" min="0" max="100" [(ngModel)]="progreso"
     (ngModelChange)="onChange($event)" [ngClass]="{'is-invalid': progreso>100 || progreso<0}">
    <span class="input-group-btn">
        <button (click)= "SumaPorcentaje(5)" [ngClass]="btnclass" type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>
